@media(width < 950px) {

    body {
        background-size: cover;
    }

    section {
        flex-direction: column;
        align-items: center;
        row-gap: 16px;
        max-width: 326px;

        .function {
            height: 201px;
        }

        .stats {
            min-height: 160px;
            padding: 32px;
            padding-bottom: 52px;

            .bar {
                margin-bottom: 10px;
            }

            .space {
                top: auto;
                right: auto;
                left: 50%;
                bottom: 0;
                transform: translate(-50%, 50%);
                /* border-radius: 10px 10px 10px 10px; */
                /* border-radius: 10px; */
                border-bottom-right-radius: 10px;

                .triangle {
                    display: none;
                }
            }


        }
    }
}

@media(width < 600px) {
    body {
        /* background-color: darkseagreen; */
        background-image: url(../images/bg-mobile.png);
        background-size: contain;
    }

}